<ion-view cache-view="false" view-title="About" hide-nav-bar="true">
  <ion-content content="center" scroll="false" has-header="false">
    <div class="about_wrapper">
      <ion-slide-box style="width:100%;" does-continue="true" auto-play="false">
        <ion-slide>
          <button class="button button-icon ion-chevron-left white_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/1.png"/>
        </ion-slide>
        <ion-slide>
          <button class="button button-icon ion-chevron-left black_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/2.png"/>
        </ion-slide>
        <ion-slide>
          <button class="button button-icon ion-chevron-left black_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/3.png"/>
        </ion-slide>
        <ion-slide>
          <button class="button button-icon ion-chevron-left black_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/4.png"/>
        </ion-slide>
        <ion-slide>
          <button class="button button-icon ion-chevron-left black_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/5.png"/>
        </ion-slide>
        <ion-slide>
          <button class="button button-icon ion-chevron-left black_back_button" style="color:white" ng-click="go('app/settings')"></button>
          <img style="width:100%;height:100%;" src="img/slider/6.png"/>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
