<ion-view cache-view="false" view-title="Edit Info" ng-controller="InfoEditCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left" style="color:white" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color:#2695f9" ng-click="saveTribyInfo()">{{showDone}}</button>
    </ion-nav-buttons>
    <ion-content scroll="false" >
        <div class="edit_info_img" ng-style="{'background-image':'url(' + triby.pic + ')'}" ng-click="uploadPicture()">
            <i class="edit_info_plus icon ion-ios7-plus-outline" style=""></i>
        </div>
        <div class="padding"></div>
        <div class="list list-inset list-profile">
            <label class="item item-input">
                &nbsp;
                <input type="text" placeholder="Triby name" ng-model="triby.name">
            </label>
        </div>
    </ion-content>
</ion-view>
