<ion-view cache-view="false" view-title="Login Facebook">
    <ion-content scroll="false" style="background-color:#3b5a99">
        <div class="list " style="margin-top: 10px;">
            <a href="#/signup">
                <i class="ion-chevron-left button-back"></i>
            </a>
        </div>
        <br><br>
        <p align="center" >
            <img src="img/logo_facebook_big.png"/>
        </p>
        <br>
        <div class="list list-login">
            <label class="item item-input">
                <input type="text" placeholder="email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="password">
            </label>
        </div>
        <br>
        <p align="center">
            <a class="button button-fb" style="border-radius:10px;" ng-click="loginFacebook()">
                Sign Up
            </a>
        </p>
    </ion-content>
</ion-view>
