<ion-view cache-view="false" view-title="Notifications">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left" style="color:white" ng-click="go('app/main/home')"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="list list-noti">
            <a class="item item-avatar" href="#/app/comments">
                <img src="img/samantha.png">
                <h2>Samantha commented on...</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/frank.png">
                <h2>You've been invited</h2>
            </a>
            <a class="item item-avatar" href="#/mural_details">
                <img src="img/ed.png">
                <h2>Ed hearted your photo</h2>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/carla.png">
                <h2>Carla wants to buy...</h2>
            </a>
            <a class="item item-avatar" href="#/app/news_feed">
                <img src="img/mark.png">
                <h2>Mark shaked your post</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
