<ion-view cache-view="false" view-title="Settings" ng-controller="AppCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-chevron-left" style="color:white" ng-click="go('app/main/home')"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="list list-settings">
            <a class="item item-icon-left" href="#/app/profile">
                <i class="icon ion-person"></i>
                Profile
            </a>
            <a class="item item-icon-left" href="#/app/account" ng-hide="isFacebookUser()">
                <i class="icon ion-locked"></i>
                Account
            </a>
            <a class="item item-icon-left" href="#/app/contacts">
                <i class="icon ion-person-stalker"></i>
                Contacts
            </a>
            <a class="item item-icon-left" href="#/app/notifications">
                <i class="icon ion-radio-waves"></i>
                Notifications
            </a>
            <a class="item item-icon-left" href="#/app/feedback">
                <i class="icon ion-chatboxes"></i>
                Feedback
            </a>
            <a class="item item-icon-left" href="#/app/terms">
                <i class="icon ion-information-circled"></i>
                Terms of service
            </a>
            <a class="item item-icon-left" href="#/app/about">
                <i class="icon ion-help"></i>
                About
            </a>
        </div>
    </ion-content>
</ion-view>
